body {
    background: pink;
    text-align: center;
    margin-top: 20%;
  }
  
  h1 {
    color: blue;
  }
    h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
   
  #tasks .completed {
    background-color: #ccc;
    text-decoration: underline;
  }